{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 29.76066871957821,
        "longitude": -98.06963296870002,
        "elevation": 823,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null
    }
}